<!--<table class="course-table">

  <thead>
    <tr>
      <th style="width:15%">Code</th>
      <th>Course Title</th>
      <th style="width:12%">Type</th>
    </tr>
  </thead>

  <tbody>

  {% for course in include.courses %}

    <tr>

      <td>

        {% if course.link and course.link != "" %}

          <a href="{{ course.link | relative_url }}">
            {{ course.code }}
          </a>

        {% else %}

          {{ course.code }}

        {% endif %}

      </td>

      <td>{{ course.title }}</td>

      <td>{{ course.type | capitalize }}</td>

    </tr>

  {% endfor %}

  </tbody>

</table>-->




<table class="course-table">

  <thead>
    <tr>
      <th style="width:15%">Code</th>
      <th>Course Title</th>
      <th style="width:10%">Credits</th>
      <th style="width:12%">Type</th>
    </tr>
  </thead>

  <tbody>

  {% for course in include.courses %}

    <tr>

      <td>

        {% if course.link and course.link != "" %}

          <a href="{{ course.link | relative_url }}">
            {{ course.code }}
          </a>

        {% else %}

          {{ course.code }}

        {% endif %}

      </td>

      <td>{{ course.title }}</td>

      <td>
        {% if course.credit %}
          {{ course.credit }}
        {% endif %}
      </td>

      <td>{{ course.type | capitalize }}</td>

    </tr>

  {% endfor %}

  </tbody>

</table>
