{% if course.syllabus %}

<h2>Syllabus</h2>

{% for module in course.syllabus %}

<div class="course-module">

  <h3>
    Module {{ module.module }}{% if module.title %}: {{ module.title }}{% endif %}
    {% if module.lectures or module.tutorials %}
      (
      {% if module.lectures %}
        Lectures: {{ module.lectures }}
      {% endif %}
      {% if module.lectures and module.tutorials %}, {% endif %}
      {% if module.tutorials %}
        Tutorials: {{ module.tutorials }}
      {% endif %}
      )
    {% endif %}
  </h3>

  {% if module.topics %}
  <p>
    {% for topic in module.topics %}
      {{ topic }}{% unless forloop.last %}, {% endunless %}
    {% endfor %}.
  </p>
  {% endif %}

</div>

{% endfor %}

{% endif %}
