{% if course.syllabus %}

<h2>Syllabus</h2>

{% for module in course.syllabus %}

<div class="course-module">

  <h3>
    Module {{ module.module }}{% if module.title %}: {{ module.title }}{% endif %}
  </h3>

  {% if module.topics %}
  <p>
    {% for topic in module.topics %}
      {{ topic }}{% unless forloop.last %}, {% endunless %}
    {% endfor %}.
  </p>
  {% endif %}

  {% if module.lectures %}
  <p class="course-hours">
    <strong>Lectures:</strong> {{ module.lectures }}
  </p>
  {% endif %}

  {% if module.tutorials %}
  <p class="course-hours">
    <strong>Tutorials:</strong> {{ module.tutorials }}
  </p>
  {% endif %}

</div>

{% endfor %}

{% endif %}
