<table class="student-table">

  <thead>
    <tr>
      <th style="width:28%">Name</th>
      <th style="width:12%">Graduated</th>
      <th style="width:30%">Supervisor</th>
      <th style="width:30%">Current Position</th>
    </tr>
  </thead>

  <tbody>

    {% assign alumni = include.students
        | where: "status", "finished"
        | sort: "graduation_year"
        | reverse %}

    {% for student in alumni %}

      <tr>

        <td>{{ student.name }}</td>

        <td>{{ student.graduation_year }}</td>

        <td>{{ student.supervisor }}</td>

        <td>
          {% if student.next_position %}
            {{ student.next_position }}
          {% else %}
            &mdash;
          {% endif %}
        </td>

      </tr>

    {% endfor %}

  </tbody>

</table>
