<div class="people-table-wrap">
<table class="people-table">

  <thead>
    <tr>
      <th>Name</th>
      <th>Roll No.</th>
      <th>Year Joined</th>
      <th>Faculty Advisor</th>
    </tr>
  </thead>

  <tbody>

  {% assign students = include.students | sort: "roll" %}

  {% for student in students %}

    <tr>
      <td>{{ student.name }}</td>
      <td>{{ student.roll }}</td>
      <td>{{ student.year_joined }}</td>
      <td>{{ student.fa | default: "—" }}</td>
    </tr>

  {% endfor %}

  </tbody>

</table>
</div>
