<!--<table class="student-table">

  <thead>
    <tr>
      <th style="width:25%">Roll</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>

  {% assign students = include.students | sort: "roll" %}

  {% for student in students %}

    {% if student.degree == true %}

    <tr>
      <td>{{ student.roll }}</td>
      <td>{{ student.name }}</td>
    </tr>

    {% endif %}

  {% endfor %}

  </tbody>

</table>--> 

<table class="student-table">
<!--<thead>
  <tr>
    <th>Roll</th>
    <th>Name</th>
    <th>Next Position</th>
  </tr>
</thead>-->

  <thead>
    <tr>
      <th style="width:20%">Roll</th>
      <th>Name</th>
      <th style="width:40%">Next Position to</th>
    </tr>
  </thead>
  

<tbody>

{% assign students = include.students | sort: "roll" %}

{% for student in students %}

{% if student.degree == true %}

<tr>
  <td>{{ student.roll }}</td>
  <td>{{ student.name }}</td>
  <td>{{ student.next }}</td>
</tr>

{% endif %}

{% endfor %}

</tbody>
</table> 
