<table class="student-table">

  <thead>
    <tr>
      <th style="width:28%">Name</th>
      <th style="width:14%">Roll No.</th>
      <th style="width:10%">Joined</th>
      <th style="width:24%">Supervisor</th>
      <th style="width:24%">Cosupervisor</th>
    </tr>
  </thead>

  <tbody>

    {% assign students = include.students | sort: "roll" %}

    {% for student in students %}

      <tr>

        <td>
          {{ student.name }}
        </td>

        <td>
          {{ student.roll }}
        </td>

        <td>
          {{ student.joining_year }}
        </td>

        <td>
          {{ student.supervisor }}
        </td>

        <td>
          {% if student.joint_supervisor %}
            {{ student.joint_supervisor }}
          {% else %}
            &mdash;
          {% endif %}
        </td>

      </tr>

    {% endfor %}

  </tbody>

</table>
