<div class="hero-slideshow">

  {% for slide in site.data.slideshow.slides %}
  <div
    class="slide {% if forloop.first %}active{% endif %}"
    style="background-image:url('{{ slide.image | relative_url }}');">
  </div>
  {% endfor %}

  <button class="slide-prev" aria-label="Previous slide">
    &#10094;
  </button>

  <button class="slide-next" aria-label="Next slide">
    &#10095;
  </button>

  <div class="slide-dots">
    {% for slide in site.data.slideshow.slides %}
      <span
        class="dot {% if forloop.first %}active{% endif %}"
        data-slide="{{ forloop.index0 }}">
      </span>
    {% endfor %}
  </div>

</div>
