{% assign today = 'now' | date: '%Y%m%d' | plus: 0 %}

{% assign seminars = site.data.colloquium
  | sort: "datestamp"
%}

<table class="student-table">

  <thead>
    <tr>
      <th style="width:15%">Date</th>
      <th>Speaker</th>
      <th>Affiliation</th>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>

{% for seminar in seminars %}

{% assign seminar_date = seminar.datestamp | plus: 0 %}

{% if seminar_date >= today %}

<tr>

  <td>
    <a href="{{ '/physics-colloquium/' | relative_url }}{{ seminar.datestamp }}/">
      {{ seminar.date }}
    </a>
  </td>

  <td>
    {{ seminar.speaker }}
  </td>

  <td>
    {{ seminar.affiliation }}
  </td>

  <td>
    {{ seminar.title }}
  </td>  

</tr>

{% endif %}

{% endfor %}

  </tbody>

</table>
